#captcha {
    margin-bottom: 0;
    padding-bottom: 0;

    .captcha-container {
        clear: none;
        margin: 5px 0 0 0;
        min-height: 0;
        overflow: hidden;
        padding: 0;

        .captcha-image {
            float: left;
        }
        .captcha-trigger {
            float: left;

            .content {
                margin: 0;
                overflow: hidden;
                text-align: left;
                text-indent: -999em;
                width: 0;
            }
        }
        .icon-reload {
            background-image: inlineimage("images/icons/icon16-refresh.png");
        }
    }
}