#disable_html_escaping()
#if ($value)
    #foreach ($singleValue in $value)
<customfieldvalue key="$singleValue.optionId"><![CDATA[$xmlutils.escapeForCdata($!singleValue.toString())]]></customfieldvalue>
    #end
#end