#disable_html_escaping()
#if (!$request || !$request.getAttribute("cascade"))
    $!request.setAttribute("cascade" , "true")
#end
#if ($value.getValuesForKey(null) && !$value.getValuesForKey(null).empty)
    #set ($selectedParent = $value.getValuesForKey(null).iterator().next())
#end
#if ($value.getValuesForKey('1') && !$value.getValuesForKey('1').empty)
    #set ($selectedChild = $value.getValuesForKey('1').iterator().next())
#end
$!{auiparams.put("controlHeaderClass", "aui-field-cascadingselect")}
#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
    <select class="select cascadingselect-parent" id="${customField.id}" name="${customField.id}">
        <option class="default-option" value="">$i18n.getText("common.words.none")</option>
        #foreach ($option in $configs.options.rootOptions)
            #if(!$option.disabled || $option.disabled == false || ($selectedParent && $selectedParent == $option.optionId.toString()))
                <option class="option-group-$option.optionId" value="$option.optionId"#if ($selectedParent && $selectedParent == $option.optionId.toString()) selected="selected"#end>$cfValueEncoder.encodeForHtml($option.value)</option>
            #end
        #end
    </select>
    <select class="select cascadingselect-child" id="${customField.id}:1" name="${customField.id}:1">
        <option class="default-option" value="">$i18n.getText("common.words.none")</option>
        #foreach ($parentOption in $configs.options.rootOptions)
            <option class="option-group-$parentOption.optionId" value="">$i18n.getText("common.words.none")</option>
            #foreach ($childOption in $parentOption.childOptions)
                #if(!$childOption.disabled || $childOption.disabled == false || ($selectedChild && $selectedChild == $childOption.optionId.toString()))
                    <option class="option-group-$parentOption.optionId" value="$childOption.optionId"#if ($selectedChild && $selectedChild == $childOption.optionId.toString()) selected="selected"#end>$cfValueEncoder.encodeForHtml($childOption.value)</option>
                #end
            #end
        #end
    </select>
#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
$!{auiparams.clear()}