#disable_html_escaping()
#if ($!displayParameters.get('theme') && $!displayParameters.get('theme') == 'aui')
    $!{auiparams.put("controlHeaderType", "checkbox")}
    $!{auiparams.put("fieldsetClass", "group")}
    $!{auiparams.put("noLabel", "true")}
    #AUIformFieldsetHeader ($customField.name $fieldLayoutItem.required $displayParameters $auiparams)
        #set ($hadAnyValidOptions = false)
        #if ($value) #set ($selectedValues = $value) #end
        #foreach ($option in $configs.options)
            #if(!$option.disabled || $option.disabled == false || ($selectedValues && $selectedValues.contains($option.optionId.toString())))
                #set ($hadAnyValidOptions = true)
                #customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
                    #if ($selectedValues && $selectedValues.contains($option.optionId.toString())) #set ($checked = ' checked="checked" ') #else #set ($checked = "") #end
                    <input${checked} class="checkbox" id="${customField.id}-${velocityCount}" name="${customField.id}" type="checkbox" value="$option.optionId" />
                    <label for="${customField.id}-${velocityCount}">$cfValueEncoder.encodeForHtml($option.value)</label>
                #customControlFooter ($action '${customField.id}_${velocityCount}' '' $displayParameters $auiparams)
            #end
        #end
        #if ($hadAnyValidOptions == false)
            #customControlHeader ($action "${customField.id}-none" $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
                <input class="checkbox" id="${customField.id}-none" name="${customField.id}" type="checkbox" value="-1" checked="checked" onclick="return false" onkeydown="return false"/>
                <label for="${customField.id}-none">$i18n.getText('common.words.none')</label>
            #customControlFooter ($action "${customField.id}-none" '' $displayParameters $auiparams)
        #end
    #AUIformFieldsetFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
#else
    #customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
        #set ($hadAnyValidOptions = false)
        #if ($value) #set ($selectedValues = $value) #end
        #foreach ($option in $configs.options)
            #set ($hadAnyValidOptions = true)
            #if ($selectedValues && $selectedValues.contains($option.optionId.toString()))
                #set ($checked = ' checked="checked" ')
            #else
                #set ($checked = "")
            #end
            #if(!$option.disabled || $option.disabled == false || $checked != "")
                <input$!{checked} class="checkbox" id="${customField.id}-${velocityCount}" name="${customField.id}" type="checkbox" value="$option.optionId" />
                <label for="${customField.id}-${velocityCount}">$cfValueEncoder.encodeForHtml($option.value)</label>
                #if($velocityCount != $configs.options.size())<br />#end
            #end
        #end
        #if ($hadAnyValidOptions == false)
            <input class="checkbox" id="${customField.id}" name="${customField.id}" type="checkbox" value="-1" checked="checked" onclick="return false" onkeydown="return false"/>
            <label for="${customField.id}">$i18n.getText('common.words.none')</label>
        #end
    #customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
#end