#disable_html_escaping()
#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
<select class="select" id="$customField.id" name="$customField.id">
    <option value="-1">$i18n.getText("common.words.none")</option>
    #foreach ($option in $configs.options)
        <option#if ($value && $value == $option.getString("id")) selected="selected"#end value="$option.getString("id")">
            $textutils.htmlEncode($option.getString("name"))
        </option>
    #end
</select>
#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)