{namespace JIRA.Templates.CreateProject}


/**
 * Renders a help panel for the project key.
  */
{template .keyHelp}
    <div class="project-key-help">
        <p><b>{getText('admin.addproject.key.help')}</b></p>
        <ul>
            <li>{getText('admin.addproject.key.help.line1')}</li>
            <li>{getText('admin.addproject.key.help.line2')}</li>
        </ul>
    </div>
{/template}