#disable_html_escaping()
#*
  -- checkbox.vm
  --
  -- Required Parameters:
  --   * label       - The description that will be used to identfy the control
  --   * name        - The name of the attribute to put and pull the result from
  --                   Equates to the NAME parameter of the HTML INPUT tag
  --   * fieldValue  - The value displayed by the control.  Equates to the value
  --                   of the HTML INPUT tag
  --
  -- Optional Parameters:
  --   * disabled        - DISABLED parameter of the HTML INPUT tag
  --   * tabindex        - tabindex parameter of the HTML INPUT tag
  --   * onchange        - onkeyup parameter of the HTML INPUT tag
    *#
#if ($errors.get($parameters.name))
    <tr>
        <td align="left" valign="top" colspan="2">
            <span class="errorMessage">$errors.get($parameters.name)</span>
        </td>
      </tr>
    <tr>
#end

<tr>
    <td  valign="top" colspan="2">
        #* Use an extra table so that the checkbox doesn't align with the other columns. *#
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr><td valign="top">
                <input type="checkbox"
                       name="$parameters.name"
                       value="$parameters.fieldValue"
                #if ($parameters.nameValue)        checked="checked" #end
                #if ($parameters.disabled == true) disabled="disabled"                #end
                #if ($parameters.tabindex)         tabindex="$parameters.tabindex"    #end
                #if ($parameters.onchange)         onchange="$parameters.onchange"    #end
                #if ($parameters.id)               id="$parameters.id"                #end
                />
            </td>
            <td width="100%" valign="top">
                #if ($errors.get($parameters.name))
                    <span class="checkboxErrorLabel">
                #else
                    <span class="checkboxLabel">
                #end
                        $parameters.name
                    </span>
            </td>
            </tr>
        </table>
#parse("/template/standard/controlfooter.vm")
