#disable_html_escaping()
## NOTE: the purpose of this template is for custom fields which *could* take an HTML value, and thus should not
## be encoded. For fields which should always be encoded, use the label-searcher-basictext.vm template.
#searcherHeader ($customField)
#if ($value)
$value
#end
#searcherFooter ($customField)