#disable_html_escaping()
#searcherHeader ($customField)
#if ($valueObject)
   #foreach ($option in $valueObject)
    $textutils.htmlEncode($option.name) #commaonly($valueObject)
   #end
#end
#searcherFooter ($customField)