#disable_html_escaping()

#set( $text_invalid_sel = "" )

#if($action.hasAnyErrors())
    #set( $text_invalid_sel = "invalid_sel" )
#end

#searcherHeaderNoField ($customField.id $customField.name $text_invalid_sel)
#if ($value)
$textutils.htmlEncode($value)
#end
#searcherFooter ($customField)