@import "dropdown-variables.less";

.aui-dropdown-content {
    display: none;
}

.aui-dropdown-trigger {
    &.active {
        position: relative;
        outline: none;
        z-index: 9999;
    }
}
