#disable_html_escaping()
$i18n.getText("template.user.details.accountdetails")
---------------------------------------------------------------------
$stringUtils.leftPad($i18n.getText("template.user.details.username"), $padSize): $user.name
$stringUtils.leftPad($i18n.getText("template.user.details.email"), $padSize): $user.emailAddress
$stringUtils.leftPad($i18n.getText("template.user.details.fullname"), $padSize): $user.displayName


$i18n.getText("template.user.retrievepassword")

   ${baseurl}/secure/ForgotLoginDetails.jspa?username=$velocityhelper.urlencode($user.name)
