#disable_html_escaping()
${i18n.getText("portletSearchRequestView.search.request.does.not.exist")} <a href="#" class="close lbAction" rel="deactivate">${i18n.getText("portletSearchRequestView.controlPanel.close")}</a>