#disable_html_escaping()
$!{auiparams.put("controlHeaderClass", "aui-field-select")}
#searcherEditHeader ($customField.id $customField.name)
    <select class="select" id="searcher-$customField.id" name="$customField.id">
        <option value="-1">$i18n.getText("common.filters.any")</option>
        #foreach ($option in $configs.options)
            <option #if ($value && $value.contains($option.optionId.toString()))selected="selected"#end value="$option.optionId" >$cfValueEncoder.encodeForHtml($option.value)</option>
        #end
    </select>
#searcherEditFooter ($customField.id $customField.descriptionProperty.viewHtml)
$!{auiparams.clear()}