.shareTrash { margin-left: 0.5em; }
.shareIcon { margin-right: 0.5em; }
table.shareList { margin: 0; padding: 0; width: 100%; }
table.shareList td { border: none!important; padding: 2px; }
.shareLink { cursor: pointer; }
.shareRight { padding: 2px 2px; text-align: right; }
.addShare { cursor:pointer; padding: 0 0 0 6px; }
#share_display_component img { position:relative; top:1px; }
#share_display_component .addShare img { top:4px; }
#share_display_component select { margin-bottom: 5px; }
#fav_div_favourite,
#share_display_div { padding-top: 5px; }