#disable_html_escaping()

#parse("templates/email/html/includes/header.vm")

#titleHeader($i18n.getText("template.user.password.reset.request"))

#rowWrapperNormalBegin()
    #textParagraph($i18n.getText("template.user.forgotpassword.reset"))
#rowWrapperNormalEnd()

#rowWrapperNormalBegin()
    #set ($resetUrl = "${baseurl}/secure/ResetPassword!default.jspa?os_username=$velocityhelper.urlencode($user.name)&token=$params.get('password.token')")
    #textParagraph("$i18n.getText('template.user.forgotpassword.passwordchanged') <br> <a href='$resetUrl'>$resetUrl</a>")
#rowWrapperNormalEnd()

#rowWrapperNormalBegin()
    #set ($resendUrl = "${baseurl}/secure/ForgotLoginDetails.jspa?username=$velocityhelper.urlencode($user.name)")
    #set ($text1 = "$i18n.getText('template.user.forgotpassword.password.valid.for', $params.get('password.hours'), '<strong>', '</strong>')")
    #set ($text2 = "$i18n.getText('template.user.forgotpassword.you.can.ask.for.new.password')")

    #textParagraph("$text1 <br> $text2 <br> <a href='$resendUrl'>$resendUrl</a>")
#rowWrapperNormalEnd()

#rowWrapperNormalBegin()
    #textParagraph("$i18n.getText('template.user.details.accountdetails')")
    #parse("templates/email/html/includes/userdetails.vm")
#rowWrapperNormalEnd()

#parse("templates/email/html/includes/footer.vm")
