#disable_html_escaping()

#set ($resolution = "<strong>$textutils.htmlEncode(${issue.getResolutionObject().getNameTranslation($i18n)}, false)</strong>")
#defaultMailHeaderWithParam("jira.email.title.issue.resolved", $changelogauthor, $resolution)

#if ($comment)
    #parse('templates/email/html/includes/patterns/comment-top.vm')
#end

#rowWrapperNormal("#parse('templates/email/html/includes/patterns/issue-title.vm')")


#if ($changelog)
    #rowWrapperNormal("#parse('templates/email/html/includes/fields/changelog.vm')")
#end

#set ($commentActionBody="#parse('templates/email/html/includes/patterns/comment-action.vm')")
#rowWrapperNormal($commentActionBody)

#parse("templates/email/html/includes/footer.vm")
