#disable_html_escaping()

#defaultMailHeader("email.event.activity.commented.issue", $changelogauthorLink)

#set ($issueTitleBody="#parse('templates/email/html/includes/patterns/comment-title.vm')")
#rowWrapperNormal($issueTitleBody)

#parse('templates/email/html/includes/patterns/comment-top.vm')

#set ($commentActionBody="#parse('templates/email/html/includes/patterns/comment-action.vm')")
#rowWrapperNormal($commentActionBody)

###set($extraFooterContent = "#parse('templates/email/html/includes/set-issue-details-context.vm')")

#parse("templates/email/html/includes/footer.vm")