#* @vtlvariable name="changelog" type="org.ofbiz.core.entity.GenericValue" *#
#* @vtlvariable name="changelogauthor" type="com.atlassian.jira.user.ApplicationUser" *#
#* @vtlvariable name="changelogauthorkey" type="java.lang.String" *#
#* @vtlvariable name="remoteUser" type="com.atlassian.crowd.embedded.api.User" *#
#disable_html_escaping()

#defaultMailHeaderWithParam("jira.email.assigned.issue.to", $changelogauthor, "#authorlinkkey($issue.assigneeId $linkstyle)")

#if ($comment)
    #parse('templates/email/html/includes/patterns/comment-top.vm')
#end

#rowWrapperNormal("#parse('templates/email/html/includes/patterns/issue-title.vm')")

#if ($changelog)
    #set ($changelogBody="#parse('templates/email/html/includes/fields/changelog.vm')")
    #rowWrapperNormal($changelogBody)
#end

#set ($commentActionBody="#parse('templates/email/html/includes/patterns/comment-action.vm')")
#rowWrapperNormal($commentActionBody)

#parse("templates/email/html/includes/footer.vm")
