#disable_html_escaping()

#set ($headerTitleKey = "${product}.email.user.created.createdaccount")
#set ($initiatingUserLink = "#authorlinkname($initiatingUser.name $linkstyle)")
#set ($headerTitle = "${i18n.getText($headerTitleKey, $initiatingUserLink, '<strong>', '</strong>')}")
#set ($actionerUser = $initiatingUser)
#parse("templates/email/html/includes/header.vm")

#set ($pageTitle = "<a href='${baseurl}'>${textutils.htmlEncode($applicationName)}</a>")
#rowWrapperNormal("#parse('templates/email/html/includes/patterns/page-title.vm')")

#set ($textParagraphKey = "template.${product}.user.created.intro")
#set ($textParagraph = "${i18n.getText($textParagraphKey)}")
#rowWrapperNormal("#parse('templates/email/html/includes/patterns/text-paragraph.vm')")

#rowWrapperNormal("#parse('templates/email/html/includes/userdetails.vm')")

#set ($textParagraph = "${i18n.getText('template.user.created.externaldirectory', $params.get('directoryName'))}")
#rowWrapperNormal("#parse('templates/email/html/includes/patterns/text-paragraph.vm')")

#parse("templates/email/html/includes/footer.vm")
