#disable_html_escaping()
## This template requires the com.atlassian.jira.web.component.webfragment.UserNavContextLayoutBean to be passed

#userProfileLinks ("operations" $webInterfaceManager $location $helper)