.jira-page-loading-indicator {
    display: none;
    background-image: inlineimage("includes/jira/loading/Loading.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 40px;
    width: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}
