{namespace about}
/**
 * @context a map of context objects - String --> Object
 */
{template .conclusion}
<div id="test-about-conclusion">This is test conclusion for testing purposes</div>
{/template}