{namespace about}
/**
 * @context a map of context objects - String --> Object
 */
{template .introduction}
<div id="test-about-introduction">This is test introduction for testing purposes</div>
{/template}