#disable_html_escaping()

#set ($actionerUser = $remoteUser)
#set ($authorLink = "#authorlinkname($remoteUser.name $linkstyle)")
#set ($headerTitle = "${i18n.getText('jira-share-plugin.email.saved.search.activity', $authorLink, '<b>', '</b>')}")
#set ($viewLinkUrl= "${baseurl}/secure/IssueNavigator.jspa$savedSearchLinkUrlParams")
#set ($pageTitle = "<a href='${viewLinkUrl}'>${filterName}</a>")
#set ($extraFooterContent = ("#parse('/templates/email/html/includes/patterns/involvedUsers.vm')"))

#if (!$comment)
    #set ($emailContainerClasses = 'share-email')
#end

#parse("templates/email/html/includes/header.vm")

#if ($comment)
    #parse('templates/email/html/includes/patterns/comment-top.vm')
#end

#rowWrapperNormal("#parse('templates/email/html/includes/patterns/page-title.vm')")

#parse("/templates/email/html/mobileSingleColumnStyle.vm")

#parse("templates/email/html/includes/footer.vm")
