.aui-lozenge {
    &.status-active {
        background-color: #3b73af;
        border-color: #3b73af;
        color: white;
    }
    &.status-draft {
        background-color: #505050;
        border-color: #505050;
        color: white;
    }
    &.status-inactive {
        background-color: #CCC;
        border-color: #CCC;
        color: #333;
    }
    &.status-locked {
        background-color: #FFE7E7;
        border-color: #FFE7E7;
        color: #333;
    }
    &.status-managed {
        background-color: #FFD;
        border-color: #FFD;
        color: #333;
    }
    &.status-required {
        background-color: #FFF;
        border-color: #FFF;
        color: #326CA6;
    }
}
