.workflow-transition-properties-restfultable .aui-restfultable-editable {
    height: auto;
    min-height: 30px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-top: 5px;
}
.workflow-transition-properties-restfultable .aui-restfultable-no-entires > td {
    padding-bottom: 12px;
    padding-top: 12px;
}
.workflow-transition-properties-restfultable .aui-restfultable-row .aui-button {
    vertical-align: top;
}
.workflow-transition-properties-key {
    display: inline-block;
    padding: 5px 0;
}
.workflow-transition-properties-key-col {
    width: 30%;
}