#disable_html_escaping()
#if ($components && !$components.empty)
    #if ($displayParams && $displayParams.nolink)
        #foreach ($component in $components)
            $textutils.htmlEncode($component.getString('name'))#commaonly($components)
        #end
    #else
        #foreach ($component in $components)
            #set ($pkey = "$urlcodec.encode($projectManager.getProjectObj($component.project).key)")
            #set ($url = "${baseurl}/browse/${pkey}/component/$component.id")
            <a href="$textutils.htmlEncode($url)" class="tinylink">$textutils.htmlEncode($component.getString('name'))</a>#commaonly($components)
        #end
    #end
#else
    &nbsp;
#end