#disable_html_escaping()
#customControlHeader ($action $field.id $i18n.getText($field.nameKey) $fieldLayoutItem.required $displayParameters $auiparams)
## setup some additional parameters
$!rendererParams.put("class", "long-field")
$!rendererParams.put("rows", "12")
$!rendererParams.put("wrap", "virtual")
#if ($mentionable)
    $!rendererParams.put("mentionable", true)
    #if ($issue.project.key && $issue.project.key != "")
        $!rendererParams.put("data-projectkey", "$!issue.project.key")
    #end
    #if ($issue.key && $issue.key != "")
        $!rendererParams.put("data-issuekey", "$!issue.key")
    #end
#end
## let the renderer display the edit component
$rendererDescriptor.getEditVM($!description, $!issue.key, $!fieldLayoutItem.rendererType, $!field.id, $field.name, $rendererParams, false)
#customControlFooter ($action $field.id $fieldLayoutItem.getFieldDescription() $displayParameters $auiparams)