#disable_html_escaping()
#if ($description)
  #if (${displayParams.excel_view})
    $textutils.br($textutils.htmlEncode($description, false))
  #else
    $rendererManager.getRenderedContent($fieldLayoutItem, $issue)
  #end
#end