.jira-multi-select.jira-issue-picker {
    // We need to position the icon relative to the multi-select's textarea.
    // The textarea is vertical-align: top within the multi-select container (which is inline-block).
    // Thus, we fake the vertical alignment of this icon with relative positioning.
    + .issue-picker-popup {
        display: inline-block;
        background: transparent url("../../../images/icons/icon-create.png") no-repeat scroll 2px 2px;
        height: 16px;
        left: 5px;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        text-indent: -9999px;
        top: 8px;
        width: 16px;
    }
}
