// for config page, buttons
#filter-config-panel {
    .instructions {
        margin-top: 10px;
    }

    #filter-button-panel {
      &.filter-enabled {
        margin-top: 10px;
      }

      &.filter-disabled {
        margin-top: 20px;
      }
    }
}