// for selector panel
#filter-selector-panel {
  .filter-message {
    margin-top: 10px;
  }

  #filter-checkbox-div {
    margin-top: 10px;

    #filter-checkbox {
      float: left; // to top align the checkbox with the label text
      margin-left: 0px; // reset to left align with the instruction text above
    }

    .filter-checkbox-label {
      display: inline-block;
      padding-left: 4px;
    }
  }

  #filter-selector-selection-panel {
    margin-top : 10px;

    #filter-display {
      #filter-display-div {
        padding-top: 5px;
        display: inline-block;

        .filter-entry {
          .delete-filter {
            margin-left: 0.5em;
          }
        }
      }
    }

    #filter-selector {
      margin-top : 20px;

      .arrow {
        margin-left: 4px;
        margin-right: 4px;
      }

      .add-filter {
        cursor: pointer;
        padding: 0 0 0 6px;
      }
    }
  }
}
