#disable_html_escaping()

  $i18n.getText("template.user.cannotchangepassword.reset")

---------------------------------------------------------------------

$i18n.getText("template.user.cannotchangepassword.cannot")

$i18n.getText("template.user.cannotchangepassword.contact")

#parse("templates/email/text/includes/userdetails.vm")

#parse("templates/email/text/includes/footer.vm")