#disable_html_escaping()
$i18n.getText("template.errorinhandler.automatedemail", $baseurl)

$i18n.getText("template.errorinhandler.erroroccurred.line1")
$i18n.getText("template.errorinhandler.erroroccurred.line2", $serverName, $handlerName)

$i18n.getText("template.errorinhandler.errorwas")
------------------------
"$error"
------------------------

$i18n.getText("template.errorinhandler.errorattached")

$i18n.getText("template.errorinhandler.check")

#parse("templates/email/text/includes/footer.vm")