#disable_html_escaping()

$i18n.getText("template.user.password.reset.request")

---------------------------------------------------------------------

$i18n.getText("template.user.forgotpassword.reset")

$i18n.getText("template.user.forgotpassword.passwordchanged")

  ${baseurl}/secure/ResetPassword!default.jspa?os_username=$velocityhelper.urlencode($user.name)&token=$params.get("password.token")


$i18n.getText("template.user.forgotpassword.password.valid.for", $params.get("password.hours"), "", "")
$i18n.getText("template.user.forgotpassword.you.can.ask.for.new.password")
${baseurl}/secure/ForgotLoginDetails.jspa?username=$velocityhelper.urlencode($user.name)


#parse("templates/email/text/includes/userdetails.vm")

#parse("templates/email/text/includes/footer.vm")