#disable_html_escaping()
#parse("templates/email/includes/issueplugins.vm")
     [ ${baseurl}/browse/${issue.getKey()}?page=${tabpanel-all} ]

#headerTitleText($i18n.getText("template.issue.work.started.by", $issue.key, $issue.assigneeUser.displayName), $issue.assigneeUser.displayName)

#parse("templates/email/text/includes/issuesummary.vm")

#parse("templates/email/text/includes/footer.vm")
