#disable_html_escaping()
#parse("templates/email/includes/issueplugins.vm")
     
#if($remoteUser.displayName)
$i18n.getText("template.issue.worklog.deleted", $remoteUser.displayName, $issue.getKey())
#dashes($!remoteUser.displayName)----------------#dashes(${issue.getKey()})-
#end

#if($worklog)
#set($allFieldNames = [$i18n.getText('template.common.author'), $i18n.getText('template.common.created.on'), $i18n.getText('template.issue.worklog.start.date'), $i18n.getText('template.issue.worklog.time.spent'), $i18n.getText('template.issue.worklog.visibility'), $i18n.getText('logwork.workdesc')])
$!{velocityhelper.indentToChangelogNoLineSep($i18n.getText("template.common.author"), "$worklog.authorFullName", $i18n, $allFieldNames)}
$!{velocityhelper.indentToChangelogNoLineSep($i18n.getText("template.common.created.on"), "$dateformatter.formatDMYHMS($worklog.getCreated())", $i18n, $allFieldNames)}
$!{velocityhelper.indentToChangelogNoLineSep($i18n.getText("template.issue.worklog.start.date"), "$dateformatter.formatDMYHMS($worklog.getStartDate())" , $i18n, $allFieldNames)}
$!{velocityhelper.indentToChangelogNoLineSep($i18n.getText("template.issue.worklog.time.spent"), "$context.getTimeLogged($worklog, $i18n) #if($timeSpentUpdated)(was: $context.getTimeLogged($originalworklog, $i18n))#end", $i18n, $allFieldNames)}
#if($worklog.getRoleLevelId() || $worklog.getGroupLevel())
$!{velocityhelper.indentToChangelogNoLineSep($i18n.getText("template.issue.worklog.visibility"), "#visibilityText()" , $i18n, $allFieldNames)}
#end
#if($textutils.stringSet($worklog.getComment()))
$!{velocityhelper.indentToChangelogNoLineSep($i18n.getText("logwork.workdesc"), "$worklog.getComment()", $i18n, $allFieldNames)}
#end
#end

#if($changelog)
Issue Time Tracking
-------------------

#changes(['WorklogId','WorklogTimeSpent'])
#end

#parse("templates/email/text/includes/issuesummary.vm")

#parse("templates/email/text/includes/footer.vm")