#disable_html_escaping()
$i18n.getText("template.jira.user.created.person.createdaccount", "${initiatingUser.displayName} (${initiatingUser.emailAddress})")

    $baseurl

#parse("templates/email/text/includes/userdetails.vm")

$i18n.getText("template.jira.user.created.intro")

$i18n.getText("template.jira.user.created.externaldirectory", $params.get('directoryName'))

#parse("templates/email/text/includes/footer.vm")
