#disable_html_escaping()
## Displays unescaped text - use only for 'trusted' content (entered by admins) that can contain HTML tags
#if ($value)
    $cfValueEncoder.encodeForHtml($!value.toString())
#end
