#issue-comment-add {
    #comment { width:100%; }
    div label {float:left; clear:left; margin-right:5px; margin-left: 0;}
    div.field-group {padding-left:0;}
    div.field-group label {left:0;padding-left:0;width:auto;padding-top:0;line-height:1.4;}
    .buttons {margin-bottom:0;padding-bottom:0;padding-left:0;}

    .wiki-edit {float:none;margin-bottom:0;position:static;width:auto;}
    .wiki-edit .panel {} // inserted when using wiki {code}
    .wiki-edit {clear:both;}
    .wiki-edit-content.previewClass {
        font-size:inherit; // prevents default AUI styles setting it to 13px
        width:auto;
        overflow:auto;
    }
}
