div.pb_border {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 7px;
    margin-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 23px;
    padding-right: 23px;
    border: 1px darkgray solid;
}

.pb_description {
    font-size: 14pt;
    font-weight: bold;
}

.pb_taskinfo {
    font-size: 9pt;
    color: darkgray;
}

.pb_taskexception {
    font-family: monospace;
}

.pb_bartable {
    width: 100%;
}

td.pb_barlefttd {
    background-color: #4A6785;
    padding: 0;
    margin: 0;
}

td.pb_barrighttd {
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
}

.pb_barborder {
    border: 1px darkgray solid;
    padding: 0;
    margin: 0;
}

.pb_img {
    height: 17px;
    border: none;
    vertical-align: middle;
}

.pb_section {
    margin-bottom: 4px;
}
