@import "dynamic:lookandfeel.less";
@import "aui-colours";
@import "jira-colours";
@import "jira-colours-lookandfeel";

// Legacy interop colours. Don't use them!
// TODO: Remove once all the LESS files are split for PDL.
@jirabrandcolour: @aui-color-atlassian;

@bodybgcolour: #f0f0f0;

@basefontcolour: @aui-color-text;

@subtlefontcolour: @aui-color-mid;
@jirasubtlefontcolour: @subtlefontcolour;

@bordercolour: @aui-border-color;
@subtlebordercolour: @bordercolour;
@hoverbackgroundcolour: @aui-color-highlight-secondary;
// end legacy interop colours.