@import "dynamic:lookandfeel.less";

// Standard typography colours
@jira-color-headings: @textHeadingColour; // default = #292929
@jira-color-link: @textLinkColour; // default = @aui-color-link
@jira-color-active-link: @textActiveLinkColour; // default = #3b73af
@jira-color-selection-background: @aui-color-selection-background; // default = #ebf2f9

// Dropdown colours
@jira-dropdown-menuitem-background-focus-color: @menuBackgroundColour; // default @aui-color-focus
@jira-dropdown-menuitem-text-focus-color: @menuTxtColour; // default #fff
@jira-dropdown-heading-color: @textHeadingColour; // default #292929

// Page nav colours
@jira-pagenav-menuitem-background-active-color: @menuBackgroundColour; // default @aui-color-focus
@jira-pagenav-menuitem-text-active-color: @menuTxtColour; // default #fff
@jira-pagenav-menuitem-text-color: @jira-color-link;
@jira-pagenav-menuitem-text-focus-color: @jira-color-link;