@import "aui-colours.less";

// Standard typography colours
@jira-color-text: @aui-color-text;
@jira-color-subtle-text: @aui-color-mid;
@jira-color-selection-background: @aui-color-selection-background;
// Look and feel:
//  @jira-color-headings
//  @jira-color-link
//  @jira-color-active-link


// Dropdown colours
@jira-dropdown-menuitem-background-color: transparent;
@jira-dropdown-menuitem-text-color: @jira-color-text;
@jira-dropdown-menuitem-background-disabled-color: transparent;
@jira-dropdown-menuitem-text-disabled-color: lighten(@jira-dropdown-menuitem-text-color, 50%);
@jira-dropdown-background-color: @aui-color-page;
@jira-dropdown-divider-color: @aui-border-color;
@jira-dropdown-shadow-color: rgba(111,111,111,0.2);
// Look and feel:
//  @jira-dropdown-menuitem-background-focus-color
//  @jira-dropdown-menuitem-text-focus-color: @menuTxtColour
//  @jira-dropdown-heading-color


// Page nav colours
@jira-pagenav-menuitem-background-color: transparent;
@jira-pagenav-menuitem-background-focus-color: @aui-color-highlight-secondary;
@jira-pagenav-menuitem-background-selected-color: transparent;
@jira-pagenav-menuitem-text-selected-color: @jira-color-text;
@jira-pagenav-divider-color: @aui-border-color;
@jira-pagenav-heading-color: @aui-color-mid;
// Look and feel:
//  @jira-pagenav-menuitem-background-active-color
//  @jira-pagenav-menuitem-text-active-color
//  @jira-pagenav-menuitem-text-color
//  @jira-pagenav-menuitem-text-focus-color
