#disable_html_escaping()
<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0">
        <span class="label">$i18n.getText("admin.common.words.permission"):</span>
    </td>
    <td bgcolor="#ffffff" nowrap>
        #set ($perms = ${permissions})
        #selectMapGrouped ("permissionKey" ${perms})
        <br><font size="1">$i18n.getText("admin.workflow.condition.permission.input.perm.to.check")</font>
    </td>
</tr>