#disable_html_escaping()
#if ($defined)
    $i18n.getText('admin.workflow.condition.permission.view', '<b>', $i18n.getText(${permission}), '</b>', "")
#else
    $i18n.getText('admin.workflow.condition.permission.view.unavailable', '<b>', $textutils.htmlEncode(${permission}), '</b>')
#end
