#disable_html_escaping()
#* @vtlmacrolibrary path="../../../../../../jira-core/src/main/resources/templates/plugins/jira/issuelinks/macros.vm" *#
#* @vtlvariable name="statusIconTooltip" type="java.lang.String" *#
#* @vtlvariable name="statusIconLink" type="java.lang.String" *#
#* @vtlvariable name="statusIconUrl" type="java.lang.String" *#
#* @vtlvariable name="summary" type="java.lang.String" *#
#* @vtlvariable name="title" type="java.lang.String" *#
#* @vtlvariable name="resolved" type="java.lang.Boolean" *#
#* @vtlvariable name="url" type="java.lang.String" *#
#* @vtlvariable name="tooltip" type="java.lang.String" *#
#* @vtlvariable name="iconTooltip" type="java.lang.String" *#
#* @vtlvariable name="iconUrl" type="java.lang.String" *#
#* @vtlvariable name="textutils" type="com.opensymphony.util.TextUtils" *#

<p>
    #renderIssueLinkIcon(${iconUrl} ${iconTooltip} ${iconTooltip} ${textutils})
    <span title="${textutils.htmlEncode($tooltip)}">
        <a href="${url}" class="link-title#if (${resolved}) resolution#end">${textutils.htmlEncode($title)}</a>
        <span class="link-summary">${textutils.htmlEncode($!summary)}</span>
    </span>
</p>
<ul class="link-snapshot">
    #if (${status})
        <li class="status">
            #if(${statusIconLink})<a href="${statusIconLink}">#end
            $soyRenderer.render('jira.webresources:issue-statuses', 'JIRA.Template.Util.Issue.Status.issueStatusResolver', {
                'issueStatus': $status,
                'isSubtle': true,
                'maxWidth': 'short'
                })
            #if(${statusIconLink})</a>#end
        </li>
    #end
</ul>