#enable_html_escaping()
<table width="100%" class="report">
<tr><th class="reportHeading">
#if ($project)
    <h3 class="formtitle">$i18n.getText("common.concepts.project"): <a href="$baseurl/browse/$project.key">$textutils.htmlEncode($project.name)</a>#if($statisticTypeI18nName) <font size="1">($textutils.htmlEncode($statisticTypeI18nName))</font> #end</h3>
#elseif ($searchRequest)
    <h3 class="formtitle">$i18n.getText("report.chart.filter"): <a href="$baseurl/secure/IssueNavigator.jspa?requestId=${searchRequest.id}&mode=hide">$textutils.htmlEncode($searchRequest.name)</a>#if($statisticTypeI18nName) <font size="1">($textutils.htmlEncode($statisticTypeI18nName))</font> #end</h3>
#end
</th></tr>

    #if (($completeDataset) && ($completeDataset.columnCount == 0))
        <tr><td>$i18n.getText("report.noissues")</td></tr>
    #else
        <tr>
            <th class="subHeading">
                <h3 class="bluetext">$i18n.getText("report.chart.chart")</h3>
            </th>
        </tr>
        <tr>
            <td>
                #if ($base64Image)
                    #if ($imagemap_html)
                        $imagemap_html
                    #end
                    <p class="report-chart">
                        <img src='$base64Image' border='0' #if ($imagemap_html) usemap="#$imagemapName" #end/>
                    </p>
                #else
                    $i18n.getText("portlet.chart.nochart")
                #end
            </td>
        </tr>
        #if ($completeDataset)
        <tr>
            <th class="subHeading">
                <a name="dataTable"></a>
                <h3 class="bluetext">$i18n.getText("report.chart.datatable")</h3>
            </th>
        </tr>
        <tr>
            <td align="center">
                <table class="grid" id="singlefieldpie-report-datatable">
                    <tr>
                        <th>&nbsp;</th>
                        #foreach ($row in $completeDataset.rowKeys)
                        <th>
                            $row
                        </th>
                        #end
                    </tr>
                    #set ($colMax = $completeDataset.columnCount - 1)
                    #set ($rowMax = $completeDataset.rowCount - 1)
                    #foreach ($col in [0 .. $colMax])
                    <tr>
                        <th>$completeDataset.getColumnKey($col)</th>
                        #foreach ($row in [0 .. $rowMax])
                            #if ($completeDatasetUrlGenerator)
                                #set ($generatedUrl = $completeDatasetUrlGenerator.generateURL($completeDataset, $row, $col))
                            #end

                            <td>
                                #if ($row == 0)
                                    #if ($generatedUrl)<a href="$generatedUrl">#end$completeDataset.getValue($row, $col).intValue()#if ($generatedUrl)</a>#end
                                #elseif ($row == 1)
                                    $completeDataset.getValue($row, $col).intValue()%
                                #end
                            </td>
                        #end
                    </tr>
                    #end
                </table>
            </td>
        </tr>
        #end
    #end
</table>
