// Border-radius
// -------------------------
@default-border-radius: 5px;

.border-bottom-left-radius(@radius: @default-border-radius) {
    -moz-border-radius-bottomleft: @radius;
    border-bottom-left-radius: @radius;
}

.border-bottom-right-radius(@radius: @default-border-radius) {
    -moz-border-radius-bottomright: @radius;
    border-bottom-right-radius: @radius;
}

.border-top-left-radius(@radius: @default-border-radius) {
    -moz-border-radius-topleft: @radius;
    border-top-left-radius: @radius;
}

.border-top-right-radius(@radius: @default-border-radius) {
    -moz-border-radius-topright: @radius;
    border-top-right-radius: @radius;
}

.border-left-radius(@radius: @default-border-radius) {
    .border-bottom-left-radius(@radius);
    .border-top-left-radius(@radius);
}

.border-right-radius(@radius: @default-border-radius) {
    .border-bottom-right-radius(@radius);
    .border-top-right-radius(@radius);
}

.border-radius(@radius) {
    .border-radius(@radius, @radius, @radius, @radius);
}

.border-radius(@radius-tl, @radius-tr, @radius-br, @radius-bl) {
    -moz-border-radius: @radius-tl @radius-tr @radius-br @radius-bl;
    border-radius: @radius-tl @radius-tr @radius-br @radius-bl;
}