#disable_html_escaping()

#userGroupSearcherWithFieldValues($userSelect $name $userField $fieldValuesMap $values $hasPermissionToPickUsers $suggestedUsers $suggestedGroups $hasEmpty $emptyValueKey $hasCurrentUser $description)
