/* cog dropdown */
.cog-dd {
    background: transparent url(../../../images/icons/cog-dd.png) scroll no-repeat 0 0;
    height: 18px;
    width: 32px;

    &:hover,
    &.active {
        background-color: #3c78b5;
        background-position: 0 -18px;
    }
}

.aui-dd-link.cog-dd {
    display: block;

    span {
        display: none;
    }
}
