#inline-dialog-project-key-help-popup {
    z-index: 3500; /* Make sure the popup shows up in front of a dialog */

    .project-key-help {
        padding: 10px;
    }

    .project-key-help ul {
        margin-top: 6px;
    }
}
